<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <label class="logo">
            Django
        </label>
        <ul>
            <li><a href="{% url 'inicio' %}">Home</a></li>
            <li><a class="active" href="{% url 'familia' %}">Familia</a></li>
            <li><a href="{% url 'trabajo' %}">Trabajos</a></li>
            <li><a href="{% url 'profesion' %}">Profesor</a></li>  
        </ul>
    </nav>
    <div class="container-box">
        <form action="{% url 'familia' %}" class="fm" method="">{% csrf_token %}
            <h2>ha sido creado </h2>
            <input  class="env" type="submit" value="regresa">
        </form>
    </div>
</body>
</html>
